{% extends "registration/base.html" %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Sethal</title>
	</head>
  <script>
        function redirectToPage() {
            window.location.href = "{% url 'shoppingcart:checkout' %}";
        }
    </script>
	<body>


{% block content %}
  <h2>Add a new address</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" onclick="redirectToPage()">Save</button>

  </form>
{% endblock %}
	</body>
</html>

