{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>sethal.com</title>
<link href="{% static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="index.html"><img src="../accounts/static/images/logo.png" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="{% static 'images/nav.png'%}" alt="" /></a>
						    <ul class="nav" id="nav">
                                <li><a href="{% url 'index'%}">Home</a></li>
						    	<li class="current"><a href="{% url 'shop'%}">Shop</a></li>
						    	<li><a href="{% url 'about'%}">About Us</a></li>
								<li><a href="{% url 'contact'%}">Contact</a></li>
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="{% static 'js/responsive-nav.js'%}'"></script>
				    </div>
	    		    <div class="clear"></div>
	    	    </div>
	            <div class="header_right">
				    <ul class="icon1 sub-icon1 profile_img">
					 <li><a class="active-icon c1" href="#"> </a>
						<ul class="sub-icon1 list">
						  <div class="product_control_buttons">
						  	<a href="#"><img src="../accounts/static/images/edit.png" alt=""/></a>
						  		<a href="#"><img src="../accounts/static/images/close_edit.png" alt=""/></a>
						  </div>
						   <div class="clear"></div>
						  <li class="list_img"><img src="../accounts/static/images/1.jpg" alt=""/></li>
                            <li class="list_desc"><h4><a href="#"></a></h4><span class="actual"></span></li>
						  						  <div class="login_buttons">
                                  {% csrf_token %}
                                  {% if user.is_authenticated %}
                                  <p>Hi {{ user.email }}! You have {{ user.cartitem_set.count }} item(s) in your cart.</p>
    <p>Total amount: {{ request.user.cartitem_set.aggregate }} items</p>
                                      <a href="{% url 'shop' %}">View Cart</a>
							 <p><a href="{% url 'password_change' %}">Password Change</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
                                      <p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>
{% endif %}
							 <div class="clear"></div>
                          <form action="{% url 'signup' %}" method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Sign Up</button>
</form>
						  </div>
						  <div class="clear"></div>
						</ul>
					 </li>
				   </ul>
		        <div class="clear"></div>
	       </div>
	      </div>
		 </div>
	    </div>
	  </div>
     <div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="row shop_box-top">
			</div>
			<div class="row">
				{% for product in products %}

				<div class="col-md-3 shop_box"><a href="single.html">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
                    <form method="post" enctype="multipart/form-data">
					<div class="shop_desc">
						<h3><a href="#">{{product.name}}</a></h3>
						<span class="actual">${{product.price}}</span><br>
						<span class="actual">{{product.description}}</span><br>
                        {% if product.image %}
                         <img src="{{product.image.url }}" class="img-thumbnail" alt="{{ product.name }}"/>
                        {% else %}
            <p>No image available</p>
        {% endif %}
                        <form action="{% url 'shoppingcart:add_to_cart' product.id %}" method="post">
        {% csrf_token %}
                            <ul class="buttons">
							<li class="submitting"><a href="">Add To Cart</a></li>
							<div class="clear"> </div>
					    </ul>
    </form>
				    </div>
                        </form>
				</a>
				</div>
				{% endfor %}
			</div>

		 </div>
	   </div>
	  </div>
	  <div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Newsletter</h4>
							<div class="footer_search">
				    		   <form>
				    			<input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
				    			<input type="submit" value="Go">
				    		   </form>
					        </div>

						</ul>
					</div>
				</div>
			</div>
		</div>
</body>
</html>